# PHPSTAN

# ./vendor/bin/phpstan analyse
# ./vendor/bin/phpstan analyse --fix

includes:
    - vendor/larastan/larastan/extension.neon

parameters:
    level: 5

    paths:
        - app
        - config
#        - database
        - routes

#    ignoreErrors:
#        - '#PHPDoc tag @var#'
#
#    excludePaths:
#        - ./*/*/FileToBeExcluded.php
#
#    checkMissingIterableValueType: false
